body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  
}



.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000000;
  transition: top 0.3s;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.button-container {
  background-color: #000000;
  padding: 10px 50px;
}

.example {
  font-size: 36px;
  color: black;
  text-align: center;
}
.body1 {
  text-align: center;
  top: 50;
  background-color: #ffc800;
}
.searchbar {
  box-sizing: border-box;
  color: #333;
  background-color: #ffffff;
  font-weight: lighter;
  border-width: 1px;
  border-radius: 8px;
  height: 100%;
  width: 580px;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Times New Roman', Times, serif;
  border: 1px solid #ccc;
  padding-left: 100px;
  padding-right: 20px;
  margin: auto;
  font-size: 30px;
  border-color: #999;
  max-width: 100%;
}

.t10 {
  text-align: center;
}

.flex {
  display: flex;
  overflow: auto;
}

.feature {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
  display: flex;
  cursor: pointer;
  flex-flow: column;
  position: relative;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 16px;
  height: 304px;
  min-width: 216px;
  width: 216px;
}
.css-1e27qbu {
  overflow: hidden;
  height: 246px;
  padding: 12px 0px;
}
.css-1pc0fbl {
  position: relative;
  padding: 0px;
  margin: 0px;
  display: flex;
}
.css-15hvxt2{
  height: 286px;
  /* z-index: 1; */
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center center;
  height: 222px;
}

.css-1bgeqst {
  margin: 0px;
    width: 100%;
    border: 1px solid rgb(243, 243, 243);
}
.css-1sijmcw {
  flex: 1 1 auto;
  height: 56px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.display-produtos{
  display: flex;
  justify-content: space-evenly;
}

.text2 {
  padding: 42px;
}

.text3 {
  padding: 70px;
}

.cabecalho {
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 0px;
  background-color: rgb(51, 51, 51);
}
.tamanhocabecalho {
  width: 100%;
  max-width: 1200px;
}
.voltaraotopo {
  height: 56px;
  background-color: #444;
  border-left: none;
  border-right: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  left: 0;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.text4 {
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    line-height: 56px;
    color: #FFFFFF;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}
.seta0 {
  position: relative;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.seta {
    display: none; 
}

.containermaster {
  grid-template-columns: repeat(4, 25%);
  grid-row-gap: 0;
  padding: 24px;
  display: grid;
    width: 100%;
    margin-top: 56px;
    grid-template-columns: 100%;
    grid-row-gap: 16px;
    padding: 24px 0;
}

.colum1 {
  justify-items: start;
  justify-items: center;  
  display: grid;
    justify-items: center;
    -webkit-align-content: start;
    -ms-flex-line-pack: start;
    align-content: start;
}
.icon1 {
  position: relative;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.Spacer {
  height: 16px;
}
.sociallinks {
  width: 176px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.css-1yyjevf-SocialLinks {
  color: #FFFFFF;
  display: grid;
  justify-items: center;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
}
.css-vrljv0-Footer{
  grid-template-columns: repeat(4, 25%);
  grid-row-gap: 0;
  padding: 24px;
  display: grid;
    width: 100%;
    margin-top: 56px;
    grid-template-columns: 100%;
    grid-row-gap: 16px;
    padding: 24px 0;
}
.css-1hhfv33-Footer{
  display: grid;
    justify-items: center;
    -webkit-align-content: start;
    -ms-flex-line-pack: start;
    align-content: start;
}
.css-19ghtbl-CustomImage{
  position: relative;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.css-yl3byp-Spacer{
  height: 16px;
}
.css-e75fnv-SocialLinks{
  width: 176px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}


/* .css-74xbjf-Footer {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  left: 0;
  background-color: #333;
}
.css-kyzxjf-Footer {
  width: 100%;
  max-width: 1200px;
}
.css-1gc4mi5-Footer {
  height: 56px;
  background-color: #444;
  border-left: none;
  border-right: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  left: 0;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.css-1uk8y8z-Footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 56px;
  color: #FFFFFF;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}
.css-19ghtbl-CustomImage {
  position: relative;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.css-1gc4mi5-Footer img:last-child {
  display: none;
}
.css-vrljv0-Footer {
  grid-template-columns: repeat(4, 25%);
  grid-row-gap: 0;
  padding: 24px;
  display: grid;
    width: 100%;
    margin-top: 56px;
    grid-template-columns: 100%;
    grid-row-gap: 16px;
    padding: 24px 0;
}
.css-1hhfv33-Footer {
  display: grid;
  justify-items: center;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
}
.css-19ghtbl-CustomImage {
  position: relative;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.css-yl3byp-Spacer {
  height: 16px;
}
.css-e75fnv-SocialLinks {
  width: 176px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.css-17gjemb-About {
  display: grid;
  grid-row-gap: 16px;
  text-align: center;
}
.css-h8cz6h-About {
  line-height: 20px;
  color: #FFFFFF;
  font-size: 16px;
  margin-block-start: 0;
  margin-block-end: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  font-weight: bold;
  text-align: center;
  display: none;
}
.css-1cahues-About {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  -webkit-text-decoration: none;
  text-decoration: none;
}
.css-xanexk-Partnership {
  display: grid;
  grid-row-gap: 16px;
  text-align: center;
}
.css-1gptuxf-Partnership {
  line-height: 20px;
  color: #FFFFFF;
  font-size: 16px;
  margin-block-start: 0;
  margin-block-end: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  font-weight: bold;
  text-align: center;
  display: none;
}
.css-rth37y-Partnership {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  -webkit-text-decoration: none;
  text-decoration: none;
}
.css-yl3byp-Spacer {
  height: 16px;
}
.css-1gptuxf-Partnership {
  line-height: 20px;
  color: #FFFFFF;
  font-size: 16px;
  margin-block-start: 0;
  margin-block-end: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  font-weight: bold;
  text-align: center;
  display: none;
}
.css-rth37y-Partnership {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  -webkit-text-decoration: none;
  text-decoration: none;
} */
